## DataFrames Basics - Part 1

In [1]:
# Start a Spark Session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('DataFrameBasics').getOrCreate()

In [2]:
# read a json dataset
df = spark.read.json('people.json')

In [3]:
# show the data in the database
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [5]:
# show the schema in the database
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [7]:
# get list of columns
df.columns

['age', 'name']

In [9]:
# get a statistical description of the dataframe (describe() returns a Dataframe)
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [13]:
# Converting types if needed (age=>Int&Nullable - name=>String&Nullable)

# import type tools
from pyspark.sql.types import StructField, StringType, IntegerType, StructType

# create the new data schema that we want
data_schema = [StructField('age', IntegerType(), True),
               StructField('name', StringType(), True)]

# create the final type structure that uses the new schema
final_struct = StructType(fields=data_schema)

# read the file using the new type structure and print the schema
df2 = spark.read.json('people.json', schema=final_struct)
df2.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

## DataFrames Basics - Part 2

In [17]:
# select a colum as a 'column'
type(df['age'])

pyspark.sql.column.Column

In [32]:
# select a colum as a 'dataframe'
type(df.select('age'))
# df.select('age').show()

pyspark.sql.dataframe.DataFrame

In [31]:
# select a row as a 'row' (in the example access to top rows with head())
type(df.head(2)[0])
#df.head(2)[0]

pyspark.sql.types.Row

In [34]:
# select several columns
df.select(['age', 'name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [38]:
# create a new column (not inplace update, returns a new df)
df.withColumn('doubleAge', df['age']*2).show()

+----+-------+---------+
| age|   name|doubleAge|
+----+-------+---------+
|null|Michael|     null|
|  30|   Andy|       60|
|  19| Justin|       38|
+----+-------+---------+

In [39]:
# rename a column
df.withColumnRenamed('age', 'my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [41]:
# USE SQL TO QUERY A DATAFRAME

# Register the dataframe as a SQL temporary view
df.createOrReplaceTempView('people')

# Query the dataframe
results = spark.sql("SELECT * FROM people WHERE age > 25")
results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+